* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #E3E6E6;
}
a {
    text-decoration: none;
}
header {
    width: 100%;
}
nav {
    white-space: nowrap;
    width: 100%;
    height: 100%;
    background-color: #17202c;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.border {
    border: 1px solid transparent;
    border-radius: 2px;
}
.border:hover {
    border: 1px solid white;
}
.brand {
    margin: auto 15px;
    padding-left: 10px;
}
.brand img {
    width: 6rem;
    height: 40px;
}
.delivaryCountry {
    display: flex;
    font-size: 0.85rem;
    margin: auto;
    padding: 5px;
    margin-right: 5px;
}
.delivaryCountry a {
    color: white;
}
.delivaryCountry span {
    font-size: 0.80rem;
    margin-left: 1rem;
}

.delivaryCountry h2 {
    font-size: 1rem;
}
.searchArea {
    width: 80%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    font-size: 1rem;
    overflow: hidden;
    border: 3px solid transparent;
}
.searchArea:hover {
    border: 3px solid rgb(255, 183, 0);
}
.searchArea select {
    appearance: none;
    border: 0;
    outline: none;
    padding: 10px 5px;
    color: rgb(116, 116, 116);
    background-color: #e5e5e5;
}
.searchArea select:hover {
    color: rgb(26, 26, 26);
    background-color: #b0b0b0;
}
.searchArea select option {
    color: black;
    background-color: white;
}
.selectContainer {
    display: flex;
    position: relative;
}
.selectContainer .iconContainer {
    pointer-events: none;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    right: 0;
}
.iconContainer .fa-caret-down {
    color: gray;
    margin-right: 10px;
    font-size: 0.80rem;
}
.searchAreaInput {
    width: 100%;
}
.searchArea input {
    font-size: 1.2rem;
    height: 35px;
    width: 100%;
    padding-left: 0.80rem;
    border: 0;
    outline: none;
}
.seacrhIcon{
    outline: none;
    border: 0;
    color: rgb(63, 63, 63);
    background-color: rgb(253, 187, 72);
    padding: 1rem 0.8rem;
}
.seacrhIcon:hover{
    background-color: rgb(255, 162, 0);
}

.usaFlag img {
    width: 1.2rem;
}
.languageSelector {
    margin-left: 5px;
    color: white;
    font-size: 0.80rem;
    padding: 15px;
    position: relative;
}
.secondaryLanguage {
    padding: 15px;
    align-items: center;
    justify-content: center;
    display: none;
    height: min-content;
    color: black;
    border-radius: 5px;
    background-color: white;
}
.languageSelector:hover .secondaryLanguage {
    position: absolute;
    margin-top: 15px;
    display: block;
    margin-left: -15px;
}
.langTitle {
    opacity: 0.7;
    font-size: 0.80rem;
    margin-top: 10px;
}
.secondaryLanguage form {
    margin-top: 5px;
    padding: 10px;
}
.secondaryLanguage form input {
    margin-bottom: 10px;
}
.secondaryLanguage a {
    color: black;
}
.secondaryLanguage a:hover {
    color: orange;
    text-decoration: underline;
}
.learnMore a {
    color: #007185;

}
.changeCountry a {
    color: rgb(47, 123, 245);
}
.changeCountry a:hover {
    color: rgb(47, 123, 245);
    text-decoration-color: orange;
}
.signInAccounts {
    display: flex;
    margin-left: 5px;
    color: white;
    font-size: 0.80rem;
    position: relative;
    padding: 5px;
}
.signInAccounts a {
    color: white;
}
.signInAccounts h2 {
    font-size: 1rem;
}
.accountOptions {
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: none;
    height: min-content;
    color: black;
    border-radius: 5px;
    background-color: white;
}

.signInAccounts:hover .accountOptions {
    position: absolute;
    display: block;
    margin-top: 38px;
    margin-left: -15px;
}
.accountOptionsTitle {
    padding: 0 10px;
    text-align: center;
    margin-top: 10px;
}
.accountOptionsTitle h2{
    font-size: 0.7rem;
    margin-top: 10px;
    padding: 10px 0;
}
.accountOptionsTitle h2 a{
    font-size: 0.7rem;
    color: #00acca;
}
.signUpButton {
    font-weight: 700;
    background-color: #FFD814;
    padding: 10px 70px;
    border-radius: 10px;
}
.accountOptionsCatagory p {
    font-size: 1rem;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}
.accountOptionsCatagory ul {
    list-style: none;
}
.accountOptionsCatagory ul li {
    padding-top: 10px;
}
.accountOptionsCatagory ul li a{
    color: black;
}
.accountOptionsCatagory ul li a:hover{
    color: orange;
    text-decoration: underline;
}
.returnOrders a {
    color: white;
}
.returnOrders {
    display: flex;
    padding: 5px;
    font-size: 0.80rem;
}
.returnOrders h2 {
    font-size: 1rem;
}
.cart a{
    color: white;
    padding: 12px;
    border-radius: 2px;
}
.cart .fa-cart-shopping {
    font-size: 1.5rem;
}
.menu_bar {
    padding-left: 5px;
    align-items: center;
    display: flex;
    height: 39px;
    overflow: hidden;
    white-space: nowrap;
    background-color: #263243;;
}
.menu_bar ul {
    list-style: none;
    display: flex;
}
.menu_bar ul li {
    padding-right: 10px;
}
.menu_bar a {
    color: white;
    padding: 5px;
}
.menu_bar .fa-bars {
    margin-right: 5px;
}
.heroSection {
    background-image: url("../images/Hero_banner.jpg");
    background-size: cover;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.heroMsg {
    padding: 1rem;
    align-items: center;
    background-color: white;
    color: black;
    display: flex;
    height: 40px;
    width: 90%;
    justify-content: center;
    text-align: center;
    font-size: 0.80rem;
    margin-bottom: 25px;
    font-weight: 600;
}
.heroMsg a {
    color: #007185;
}
.shopSection {
    width: 92%;
    margin: auto;
    margin-top: 1rem;
    background-color: #E3E6E6;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    gap: 0.80rem;
}
.box {
    width: 23%;
    background-color: white;
    padding: 20px 0 10px;
    overflow: hidden;
    position: relative;
}
.boxContent  {
    margin: 0 auto;
    padding: 10px;
}
.boxContent h2 {
    padding-left: 1rem;
    padding-bottom: 0.80rem;
}
.boxImg {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    overflow: hidden;
}
.boxImg img {
    padding: 1rem;
    width: 100%;
}
.boxImg p {
    padding-left: 1rem;
}
.boxContent a {
    position: absolute;
    bottom: 15px;
    padding-left: 1rem;
    color: black;
}
.boxContent .seeMoreHyperLink {
    margin-top: 2rem;
}
.imageGallary {
    max-width: none;
    height: 100%;
}
footer {
    background-color: #232F3E;
}
.tapForTop {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #485769;
    cursor: pointer;
}
.tapForTop p {
    font-size: 1rem;
    color: white;
}
.topFooter {
    flex-wrap: wrap;
    white-space: nowrap;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.topFooter p {
    font-weight: 600;
    color: white;
    margin: 6px 0 14px;
    font-size: 1rem;
}
.topFooter ul {
    list-style: none;
}
.topFooter ul li {
    margin-top: 1rem;
}
.topFooter ul li a {
    white-space: normal;
    font-size: 0.80rem;
    color: #DDDDDD;
}
.topFooter ul li a:hover {
    text-decoration: underline;
}
.middleFooter {
    padding: 2rem 0;
    border-top: 1px solid rgba(233, 233, 233, 0.522);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.middleFooter a {
    font-size: 1rem;
    text-align: center;
    color: white;
    border: 2px solid rgba(209, 209, 209, 0.784);
    border-radius: 5px;
    padding: 0.80rem;
    margin-left: 1rem;
}
.mainFooter {
    background-color: #131A22;
    display: flex;
    flex-wrap: wrap;
    line-height: 0;
}
.mainFooterContent {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.mainFooterItem {
    margin-top: 15px;
}
.lastFooter {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}
.ConditionPrivacy a {
    font-size: 0.80rem;
    color: #DDDDDD;
    text-decoration: none;
}
.ConditionPrivacy img {
    margin-left: 5px;
    position: relative;
    top: 3px;
    width: 2rem;
}
.ConditionPrivacy a:hover {
    text-decoration: underline;
}
.lastFooter p {
    padding-top: 1.5rem;
    font-size: 0.80rem;
    color: #DDDDDD;
}


@media screen and (max-width: 670px) {
    nav {
        flex-wrap: wrap;
    }
    .searchArea {
        order: 1;
    }
    /* for prevent nav issue */
}